# =========================
# Python
# =========================
__pycache__/
*.pyc
*.pyo
*.pyd
*.sqlite3

# =========================
# Virtual Environment
# =========================
venv/
.env/

# =========================
# Environment variables
# =========================
.env
.env.*

# =========================
# VS Code
# =========================
.vscode/

# =========================
# OS
# =========================
.DS_Store
Thumbs.db

# =========================
# Logs
# =========================
*.log

# =========================
# Test / debug
# =========================
coverage/
htmlcov/

# =========================
# Misc
# =========================
*.swp